.container {
    max-width: 600px; /* Ajusta el ancho máximo del contenedor del Accordion */
  }
  
  .question {
    font-size: 16px; /* Ajusta el tamaño de fuente de las preguntas */
  }
  
  .answer {
    font-size: 14px; /* Ajusta el tamaño de fuente de las respuestas */
  }